nav.navbar.navbar-default
  .container-fluid: .container
    .navbar-header: a.navbar-brand(href="/")
      <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
  
    .collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
      ul.nav.navbar-nav
        li
          a.nav.navbar-nav(href='/boards') Boards
